@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700;800&display=swap');

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin:0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.showcase video {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    max-height: 100vh;
    object-fit: cover;
    z-index: 1;


}
.text {
    position:relative;
    z-index: 50;
    padding: 40px;
}
.text h2 {
    font-size: 6em;
    color:white;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
}
.text h3 {
    font-size: 4em;
    color:white;
    font-weight: 600;
    line-height: 1em;
    text-transform: uppercase;
}

.text a {
    display: inline-block;
    text-decoration: none;
    font-size: 2em;
    padding: 8px 40px;
    border: 1px solid white;
    letter-spacing: 4px;
    margin-top: 20px;
    font-weight: 600;
    color: white;
    transition: 0.2s;
}
.text a:hover {
    background-color: white;
    color: black;
    
}

.overlay {
    display: flex;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(70, 40, 6);
    mix-blend-mode: overlay;
    z-index: 30;
}
@media(max-width:790px){
    .text h2 {
        font-size: 4em;
    }
    .text h3 {
        font-size: 2em;
    }
}
@media(max-width:550px){
    .text h2 {
        font-size: 3em;
    }
    .text h3 {
        font-size: 1.5em;
    }
    .text {
        padding: 10px;
    }
    .text a {
        font-size: 1.5em;
        padding: 5px 20px;
        letter-spacing: 3px;
        margin-top: 10px;

    }
}
@media(max-width:400px){
    .text h2 {
        font-size: 2.5em;
    }
    .text a {
        font-size: 1.2em;
        padding: 5px 20px;
        letter-spacing: 3px;
        margin-top: 10px;

    }

}